# Python
__pycache__/
*.py[cod]
*.pyc
venv/
env/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Node (eğer gelecekte eklersen)
node_modules/
package-lock.json

# Build outputs (eğer gelecekte)
dist/
build/
